@using Forms.Data.Entities
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<UserPageResource> Loc;
<MudTable 
        T="Template" 
        MultiSelection="true" 
        Items="@Templates" 
        @bind-SelectedItems="SelectedTemplates"
        SelectOnRowClick="false"
        OnRowClick="OnTemplateClick"
        Hover="true"
        >
    <ToolBarContent>
        <div class="d-flex justify-space-between align-center" style="width: 100%">
            <MudText Typo="Typo.h6">Your templates</MudText>
            <MudToolBar WrapContent="true" Class="gap-2">
                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@EditSelected" Disabled="@(SelectedTemplates.Count != 1)">Edit</MudButton>
                <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="DeleteSelected" Disabled="@(!SelectedTemplates.Any())">Delete</MudButton>
                <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="CreateTemplate">Create</MudButton>
                <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="PublishSelected" Disabled="@(!SelectedTemplates.Any())">Publish</MudButton>
                <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="HideSelected" Disabled="@(!SelectedTemplates.Any())">Hide</MudButton>
            </MudToolBar>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Topic</MudTh>
        <MudTh>Likes</MudTh>
        <MudTh>Created At</MudTh>
        <MudTh>Published</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Title</MudTd>
        <MudTd DataLabel="Topic">@context.Topic.TopicName</MudTd>
        <MudTd DataLabel="Likes">@context.Likes.Count</MudTd>
        <MudTd DataLabel="Created At">@context.CreatedAt</MudTd>
        <MudTd DataLabel="Published">@context.IsPublished</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager></MudTablePager>
    </PagerContent>
</MudTable>
