@using Forms.Data.Entities
@* is published *@
@* filled date *@
@* name of template *@
<MudTable 
        T="Template" 
        MultiSelection="true" 
        Items="@Templates" 
        @bind-SelectedItems="SelectedTemplates"
        SelectOnRowClick="false">
    <ToolBarContent>
        <div class="d-flex justify-space-between align-center" style="width: 100%">
            <MudText Typo="Typo.h6">Your templates</MudText>
            <MudToolBar WrapContent="true" Class="gap-2">
                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="EditTemplate" Disabled="@(SelectedTemplates.Count != 1)">Edit</MudButton>
                <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="DeleteTemplate" Disabled="@(!SelectedTemplates.Any())">Delete</MudButton>
                <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="CreateTemplate">Create</MudButton>
            </MudToolBar>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Topic</MudTh>
        <MudTh>Likes</MudTh>
        <MudTh>Created At</MudTh>
        <MudTh>Published</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Title</MudTd>
        <MudTd DataLabel="Topic">@context.Topic</MudTd>
        <MudTd DataLabel="Likes">@context.Likes</MudTd>
        <MudTd DataLabel="Created At">@context.CreatedAt</MudTd>
        <MudTd DataLabel="Published">@context.IsPublished</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager></MudTablePager>
    </PagerContent>
</MudTable>
