@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<LayoutResource> Loc;
<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <MudToolBar Class="gap-3" Gutters="false">
            <MudHidden Breakpoint="Breakpoint.SmAndUp">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            </MudHidden>
            <div class="d-flex align-center gap-1">
                <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.Article" />
                <MudText Class="me-3" Color="Color.Primary" Typo="Typo.h5">@Loc["Forms"]</MudText>
            </div>
            <MudHidden Breakpoint="Breakpoint.Xs">
                <MudButton Style="text-transform:none" Href="/">@Loc["Home"]</MudButton>
                <AuthorizeView>
                    <Authorized>
                        <MudButton Style="text-transform:none" Href="/user">@Loc["Profile"]</MudButton>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="admin">
                    <MudButton Style="text-transform:none" Href="/admin">@Loc["UserManagement"]</MudButton>
                </AuthorizeView>
            </MudHidden>
        </MudToolBar>

        <MudSpacer />

        <MudToolBar Class="d-flex gap-3" Gutters="false">
            <MudHidden Breakpoint="Breakpoint.Xs">
                <MudIconButton Icon="@Icons.Material.Filled.Search" Href="/search" Color="Color.Inherit"  />
                <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" />
                <LocaleSelector></LocaleSelector>
            </MudHidden>
            <AuthorizeView>
                <Authorized><Profile /></Authorized>
                <NotAuthorized><MudButton Color="Color.Primary" Variant="Variant.Filled" Href="/signin">@Loc["Signin"]</MudButton></NotAuthorized>
            </AuthorizeView>
        </MudToolBar>
    </MudAppBar>

    <MudDrawer Variant="DrawerVariant.Temporary" @bind-Open="_drawerOpen" Elevation="2">
        <MudDrawerHeader Dense Class="justify-space-between">
            <MudIconButton Icon="@Icons.Material.Filled.Search" Href="/search" Color="Color.Inherit"  />
            <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" />
            <LocaleSelector></LocaleSelector>
        </MudDrawerHeader>
        <MudDrawerContainer>
            <NavMenu />
        </MudDrawerContainer>
    </MudDrawer>

    <MudMainContent Class="mt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>