@page "/templates/fill/{templateId}"
@using Forms.Data.Entities
@using Markdig
@using Forms.Components.Shared.Loading
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<TemplatesFillResource> Loc;

<PageTitle>Fill out the template - Forms</PageTitle>

@if (!IsLoading)
{
    <MudContainer MaxWidth="MaxWidth.Medium" Class="pa-4">
        <MudGrid Spacing="3">

            @if (TemplateModel.ImageUrl != null)
            {
                <MudItem xs="12">
                    <MudImage Elevation="2" Src="@TemplateModel.ImageUrl" Alt="Template Image" Style="width: 100%; aspect-ratio: 16/9; border-radius: 8px;"/>
                </MudItem>
            }

            <MudItem xs="12">
                <MudChipSet T="string" ReadOnly="true">
                    @foreach (var tag in TemplateModel.Tags)
                    {
                        <MudChip Color="Color.Primary" Text="@tag"></MudChip>
                    }
                </MudChipSet>
            </MudItem>
            
            <MudItem xs="12">
                <MudPaper Class="pa-3 mb-4 d-flex justify-space-between align-center" style="width: 100%;">
                    <div class="d-flex flex-column">
                        <MudText>Topic: <MudText Typo="Typo.h5">@TemplateModel.Topic</MudText></MudText>
                    </div>
                    
                    <div class="d-flex align-center">
                        <MudIconButton OnClick="ToggleLike" Disabled="IsReadOnly" Color="@(IsUserLikeTemplate ? Color.Dark : Color.Default)" Icon="@Icons.Material.Filled.ThumbUp"/>
                        <MudText>@TemplateModel.Likes</MudText>
                        <MudIconButton Icon="@Icons.Material.Filled.Comment"/>
                        <MudText>20</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            

            <MudItem xs="12">
                <MudPaper Class="pa-3 mb-4">
                    <MudText Typo="Typo.h4" Style="font-weight: bold" Align="Align.Center" Class="mb-4">@TemplateModel.Title</MudText>
                    @((MarkupString)Markdown.ToHtml(TemplateModel.Description))
                    @* TODO: maybe this is not safe *@
                </MudPaper>
            </MudItem>

            @foreach (var question in TemplateModel.Questions)
            {
                <MudItem xs="12">
                    <MudPaper Class="pa-3 mb-4">
                        @if (question.Type == QuestionType.SingleLine)
                        {
                            <MudTextField ReadOnly="IsReadOnly" @bind-Value="question.TextAnswer" Label="@question.Text" Placeholder="My answer" Class="mb-3" FullWidth="true" />
                        }
                        else if (question.Type == QuestionType.MultiLine)
                        {
                            <MudTextField ReadOnly="IsReadOnly" @bind-Value="question.TextAnswer" Label="@question.Text" AutoGrow Placeholder="My answer" Class="mb-3" FullWidth="true" />
                        }
                        else if (question.Type == QuestionType.Number)
                        {
                            <MudNumericField T="int" ReadOnly="IsReadOnly" @bind-Value="question.NumberAnswer" Label="@question.Text" Placeholder="My answer" Class="mb-3" FullWidth="true" />
                        }
                        else if (question.Type == QuestionType.Boolean)
                        {
                            <MudCheckBox T="bool" ReadOnly="IsReadOnly" @bind-Value="@question.BooleanAnswer" Label="@question.Text" />
                        }
                    </MudPaper>
                </MudItem>
            }

            <MudItem xs="12">
                @if (!IsReadOnly)
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SubmitForm" FullWidth="true">Submit</MudButton>
                }
                else
                {
                    <MudText Align="Align.Center">You do not have sufficient rights to fill out the template.</MudText>
                }
            </MudItem>
        </MudGrid>
    </MudContainer>
}
else
{
    <Loading/>
}
